<form method="post" action="{{ path('role_delete', {'id': role.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este elemento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
