{% set translateMes = {
  "January": "Enero",
  "February": "Febrero",
  "March": "Marzo",
  "April": "Abril",
  "May": "Mayo",
  "June": "Junio",
  "July": "Julio",
  "August":"Agosto",
  "September":"Septiembre",
  "October":"Octubre",
  "November":"Noviembre",
  "December":"Diciembre"
}
%}

<p><strong>Buen dia</strong> {{ viajero.nombre }},le adjuntamos los resultados del PCR realizado en  nuestro centro .</p>
<p>Saludos</p>
