<div>
    <span>&copy; 2021 Sistema Resultados de PCR</span>
</div>
<div class="ml-auto">
    <span>Realizado: </span>
    <a>Equipo de Desarrollo de Clínica Internacional "Camilo Cienfuegos"</a>
</div>